// # frame
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
.frame {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  min-height: 100vh;
}

.frame__top,
.frame__bot {
  position: relative;
  flex: 0 0 100%;
  min-width: 100%;
}

.frame__top {
  z-index: 1100;
}

.frame__bot {
  z-index: 1200;
}


// # top section
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

//////////////////////////////
// # mast
//////////////////////////////
.frame__mast-wrap {
  position: relative;
  z-index: 1230;
  margin-bottom: $gutter;

  @include breakpoint($screen--m) {
    margin-bottom: $gutter--m;
  }

  @include breakpoint($screen--l) {
    margin-bottom: $gutter--l;
  }
}

//////////////////////////////
// # main
//////////////////////////////
.frame__main-wrap {
  position: relative;
  z-index: 1210;
}


// # bottom section
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

//////////////////////////////
// # base
//////////////////////////////
.frame__base-wrap {
  margin-top: $gutter;

  @include breakpoint($screen--m) {
    margin-top: $gutter--m;
  }

  @include breakpoint($screen--l) {
    margin-top: $gutter--l;
  }
}