@viewport {
  zoom: 1;
  width: device-width;
}
@-ms-viewport {
  zoom: 1;
  width: device-width;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  appearance: none;
  margin: 0;
  cursor: pointer;
  font: inherit;
}

button:focus {
  outline: 0;
}

input,
select,
textarea {
  appearance: none;
  border-radius: 0;
  font-family: inherit;
  line-height: inherit;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: vertical;
}

.debug * {
  outline: 1px solid red;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whirligig {
  width: 39px;
  height: 39px;
}

.whirligig__side {
  width: 33.333%;
  height: 33.333%;
  animation: grid-scale-delay 1.3s infinite ease-in-out;
}
.whirligig__side:nth-child(4), .whirligig__side:nth-child(8) {
  animation-delay: 0.1s;
}
.whirligig__side:nth-child(1), .whirligig__side:nth-child(5), .whirligig__side:nth-child(9) {
  animation-delay: 0.2s;
}
.whirligig__side:nth-child(2), .whirligig__side:nth-child(6) {
  animation-delay: 0.3s;
}
.whirligig__side:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes grid-scale-delay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.list {
  list-style: none;
}

.ct-list {
  counter-reset: custom-counter;
}

.ct-list__li {
  display: table;
  width: 100%;
}
.ct-list__li::before {
  content: counter(custom-counter);
  counter-increment: custom-counter;
  display: table-cell;
  vertical-align: baseline;
}

.date {
  min-height: 1.5em;
}

.multi-opt {
  width: 1em;
  height: 1em;
  margin-top: -0.125em;
}
.multi-opt::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  display: block;
  width: 50%;
  height: 50%;
}
.multi-opt:checked::before {
  background: #111;
}

.multi-opt--radio {
  border-radius: 100%;
}
.multi-opt--radio::before {
  border-radius: 100%;
}

.select::after {
  content: "\25bc";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  font-size: 0.5em;
}

.js .loader__wrap--pre .loader {
  display: table;
  visibility: visible;
}

.nav__a {
  text-decoration: none;
}
.nav__a:not([href]) {
  pointer-events: none;
}
.nav__a:not([href]) .nav__a-label {
  text-decoration: underline;
}

/*# sourceMappingURL=structural.css.map */
