// # variables
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////
// # layout
//////////////////////////////
$col-count: 12;

$gutter: 1em;
$gutter--m: 1.5em;
$gutter--l: 2em;

//////////////////////////////
// # media size
//////////////////////////////
$max-width: 100em;

$screen--m: 40em;
$screen--l: 70em;
$screen--xl: calc(#{$max-width} + (#{gutter} * 4));

//////////////////////////////
// # typography
//////////////////////////////
$font-pri: helvetica, arial, sans-serif;

$font-size--s: 0.85em;
$font-size--m: 1.125em;
$font-size--l: 1.35em;
$font-size--xl: 1.55em;

$line-height: 1.4;

//////////////////////////////
// # color swatches
//////////////////////////////
$base: #111;
$neutral-1: #333;
$neutral-2: #777;
$neutral-3: #ddd;
$neutral-4: #eee;
$white: #fff;