// # frame
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.frame {
  position: relative;
  z-index: 1000;
  min-height: 100vh;
}

.frame__top {
  position: relative;
  z-index: 1100;
}

.frame__bot {
  position: relative;
  z-index: 1200;
}

// # top section
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

//////////////////////////////
// # mast
//////////////////////////////
.frame__mast-wrap {
  position: relative;
  z-index: 1230;
}

//////////////////////////////
// # main
//////////////////////////////
.frame__main-wrap {
  position: relative;
  z-index: 1210;
}

// # bottom section
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

//////////////////////////////
// # base
//////////////////////////////
.frame__base-wrap {}