// # text decoration
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.td-strike',
    'declarations': (
      text-decoration: strike,
    ),
  ), (
    'selector': '.td-underline',
    'declarations': (
      text-decoration: underline,
    ),
  ), (
    'selector': '.td-none',
    'declarations': (
      text-decoration: none,
    ),
  ),
));