// # text indent
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

$text-indent-config-RSON: make-RSON($spacings, '.ti', 'text-indent');
$text-indent-static-RSON: (
  (
    'selector': '.ti-100',
    'declarations': (
      text-indent: 100%,
    ),
  ),
);
$full-text-indent-RSON: concat-lists(
  $text-indent-config-RSON,
  $text-indent-static-RSON
);
@include make-responsive-rulesets($full-text-indent-RSON);