// # text transform
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.tt-upper',
    'declarations': (
      text-transform: uppercase,
    ),
  ), (
    'selector': '.tt-lower',
    'declarations': (
      text-transform: lowercase,
    ),
  ), (
    'selector': '.tt-cap',
    'declarations': (
      text-transform: capitalize,
    ),
  ), (
    'selector': '.tt-none',
    'declarations': (
      text-transform: none,
    ),
  ),
));