// # text align
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.ta-left',
    'declarations': (
      text-align: left,
    ),
  ), (
    'selector': '.ta-center',
    'declarations': (
      text-align: center,
    ),
  ), (
    'selector': '.ta-right',
    'declarations': (
      text-align: right,
    ),
  ),
));