// # tracking
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.track',
    'declarations': (
      letter-spacing: map-get($trackings, 'track'),
    ),
  ), (
    'selector': '.track-tight',
    'declarations': (
      letter-spacing: map-get($trackings, 'tight'),
    ),
  ), (
    'selector': '.track-wide',
    'declarations': (
      letter-spacing: map-get($trackings, 'wide'),
    ),
  ),
));