.ct-list {
  counter-reset: custom-counter;
}

.ct-list__li {
  display: table;
  width: 100%;

  &::before {
    content: counter(custom-counter);
    counter-increment: custom-counter;
    display: table-cell;
    vertical-align: baseline;
  }
}
