.multi-opt {
  width: 1em;
  height: 1em;
  margin-top: -0.125em;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    display: block;
    width: 50%;
    height: 50%;
  }

  &:checked {
    &::before {
      background: map-get($neutral-colors, "near-black");
    }
  }
}

.multi-opt--radio {
  border-radius: 100%;

  &::before {
    border-radius: 100%;
  }
}
