// # align items
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.ai-start',
    'declarations': (
      align-items: flex-start,
    ),
  ), (
    'selector': '.ai-end',
    'declarations': (
      align-items: flex-end,
    ),
  ), (
    'selector': '.ai-center',
    'declarations': (
      align-items: center,
    ),
  ), (
    'selector': '.ai-stretch',
    'declarations': (
      align-items: stretch,
    ),
  ), (
    'selector': '.ai-baseline',
    'declarations': (
      align-items: baseline,
    ),
  ),
));