// # background size
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.bgs-none',
    'declarations': (
      background-size: auto auto,
    ),
  ), (
    'selector': '.bgs-cover',
    'declarations': (
      background-size: cover,
    ),
  ), (
    'selector': '.bgs-contain',
    'declarations': (
      background-size: contain,
    ),
  ),
));