// # background colors
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

$background-color-base-RSON: make-RSON($colors, '.bgc', 'background-color');
$background-color-hover-RSON: make-RSON($colors, '.hov-bgc', 'background-color', ':hover');
$full-background-color-RSON: concat-lists(
  $background-color-base-RSON,
  $background-color-hover-RSON
);
@include make-responsive-rulesets($full-background-color-RSON);