// # background position
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.bgp-none',
    'declarations': (
      background-position: 0% 0%,
    ),
  ), (
    'selector': '.bgp-top',
    'declarations': (
      background-position: top,
    ),
  ), (
    'selector': '.bgp-top-right',
    'declarations': (
      background-position: right top,
    ),
  ), (
    'selector': '.bgp-right',
    'declarations': (
      background-position: right,
    ),
  ), (
    'selector': '.bgp-bottom-right',
    'declarations': (
      background-position: right bottom,
    ),
  ), (
    'selector': '.bgp-bottom',
    'declarations': (
      background-position: bottom,
    ),
  ), (
    'selector': '.bgp-bottom-left',
    'declarations': (
      background-position: left bottom,
    ),
  ), (
    'selector': '.bgp-left',
    'declarations': (
      background-position: left,
    ),
  ), (
    'selector': '.bgp-top-left',
    'declarations': (
      background-position: left top,
    ),
  ), (
    'selector': '.bgp-center',
    'declarations': (
      background-position: center,
    ),
  ),
));