// # configuration
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

// # layout
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$screen-sizes: (
  's': 40em,
  'm': 60em,
  'l': 80em,
  // ...
);

$wraps: (
  's': 40em,
  'm': 60em,
  'l': 80em,
  // ...
);

$spacings: (
  '0': 0,
  '1': 0.25em,
  '2': 0.5em,
  '3': 1em,
  '4': 2em,
  '5': 4em,
  '6': 8em,
  '7': 16em,
);

// # typography
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$base-font-size: 100%;

$type-scale: (
  '1': 3em,
  '2': 2.25em,
  '3': 1.5em,
  '4': 1.25em,
  '5': 1em,
  '6': 0.875em,
);

$line-heights: (
  'copy': 1.45,
  'title': 1.25,
  'solid': 1,
);

$trackings: (
  'track': 0.05em,
  'tight': -0.5em,
  'wide': 0.25em,
);

// # theme-ing
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

//////////////////////////////
// # colors
//////////////////////////////
$neutral-colors: (
  'black': #000,
  'near-black': #111,
  'dark-grey': #333,
  'mid-grey': #555,
  'grey': #777,
  'silver': #999,
  'light-silver': #aaa,
  'moon-grey': #ccc,
  'light-grey': #eee,
  'near-white': #f4f4f4,
  'white': #fff,
  'transparent': transparent,
  // ...
);

$notification-colors: (
  'dark-red': #e7040f,
  'red': #ff4136,
  'light-red': #ff725c,
  'dark-green':  #137752,
  'green': #19a974,
  'light-green': #9eebcf,
  // ...
);

$brand-colors: (
  // ...
);

$colors: concat-maps(
  $neutral-colors,
  $notification-colors,
  $brand-colors
  // ...
);

//////////////////////////////
// # border
//////////////////////////////
$border-widths: (
  '0': 0,
  '1': 0.125em,
  '2': 0.25em,
  '3': 0.5em,
  '4': 1em,
  '5': 2em,
);

$border-radii: (
  '0': 0,
  '1': 0.125em,
  '2': 0.25em,
  '3': 0.5em,
  '4': 1em,
);