// # variables
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

// # layout
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$screen-sizes: (
  base: 0,
  s: 40em,
  m: 70em,
  l: 90em,
);

$spacings: (
  none: 0,
  xs: 0.25em,
  s: 0.5em,
  m: 1em,
  l: 2em,
  xl: 4em,
  xxl: 8em,
  xxxl: 16em,
);

// # typography
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$type-scale: (
  s: 0.875em,
  base: 1em,
  m: 1.25em,
  l: 1.5em,
  xl: 2.25em,
  xxl: 3em,
);

$line-heights: (
  copy: 1.45,
  title: 1.25,
  solid: 1,
);

$trackings: (
  track: 0.1em,
  tight: -0.5em,
  wide: 0.25em,
);

// //////////////////////////////
// // # typography
// //////////////////////////////
// $font-pri: helvetica, arial, sans-serif;

// $font-size--s: 0.85em;
// $font-size--m: 1.125em;
// $font-size--l: 1.35em;
// $font-size--xl: 1.55em;

// //////////////////////////////
// // # color swatches
// //////////////////////////////
// $base: #111;
// $neutral-1: #333;
// $neutral-2: #777;
// $neutral-3: #ddd;
// $neutral-4: #eee;
// $white: #fff;