// # flex wrap
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.fwp-none',
    'declarations': (
      flex-wrap: nowrap,
    ),
  ), (
    'selector': '.fwp-wrap',
    'declarations': (
      flex-wrap: wrap,
    ),
  ), (
    'selector': '.fwp-wrap-r',
    'declarations': (
      flex-wrap: wrap-reverse,
    ),
  ),
));