// # grid
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

// # @function map-column-widths($column-count)
//
// Returns a map of index 'key' to percentage width 'value' pairs
//
// @param `number`: $column-count: Number to get index and associated widths
// @return `map`
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@function map-column-widths($column-count) {
  $result: ();
  @for $i from 1 through $column-count {
    $width: 100 / ($column-count / $i) + '%';
    $result: map-merge($result, ('#{$i}': $width));
  }
  @return $result;
}

// # @mixin grid($column-count)
//
// Forms a grid with accompanying column classes
//
// @param `number`: $column-count: Number of columns formed grid will have
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@mixin grid($column-count) {
  $column-widths: map-column-widths($column-count);
  $column-RSON: make-RSON($column-widths, '.cl-#{$column-count}', ('flex-basis', 'max-width'));
  $grid-static-RSON: (
    (
      'selector': '.g-#{$column-count}',
      'declarations': (
        display: flex,
        flex-flow: row wrap,
      ),
    ),
  );
  $full-grid-RSON: concat-lists(
    $grid-static-RSON,
    $column-RSON
  );
  @include make-responsive-rulesets($full-grid-RSON);
}

@include grid(12);