// # line height
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.lh-copy',
    'declarations': (
      line-height: map-get($line-heights, 'copy'),
    ),
  ), (
    'selector': '.lh-title',
    'declarations': (
      line-height: map-get($line-heights, 'title'),
    ),
  ), (
    'selector': '.lh-solid',
    'declarations': (
      line-height: map-get($line-heights, 'solid'),
    ),
  ),
));