// # line height
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@mixin line-height($modifier: "") {
  .lh-solid#{$modifier} { line-height: 1; }
  .lh-title#{$modifier} { line-height: 1.25; }
  .lh-copy#{$modifier} { line-height: 1.45; }
}

@include line-height();

@each $screen-size-name, $screen-size-value in $screen-sizes {
  @include breakpoint($screen-size-value) {
    @include line-height(--$screen-size-name);
  }
}