// # measure
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.measure',
    'declarations': (
      max-width: 30em,
    ),
  ), (
    'selector': '.measure-narrow',
    'declarations': (
      max-width: 20em,
    ),
  ), (
    'selector': '.measure-wide',
    'declarations': (
      max-width: 34em,
    ),
  ),
));