// # measure
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@mixin measure($modifier: "") {
  .measure#{$modifier} { max-width: 30em; }
  .measure-narrow#{$modifier} { max-width: 20em; }
  .measure-wide#{$modifier} { max-width: 34em; }
}

@include measure();

@each $screen-size-name, $screen-size-value in $screen-sizes {
  @include breakpoint($screen-size-value) {
    @include measure(--$screen-size-name);
  }
}