// # skeleton
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////
// # layout
//////////////////////////////
@viewport{
  zoom: 1.0;
  width: device-width;
}

@-ms-viewport {
  zoom: 1.0;
  width: device-width;
}

body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.45;
}

header, nav, article, section, aside, footer {
  margin-bottom: 4em;
}

hr {
  margin-top: 4em;
  margin-bottom: 4em;
  border-top-color: #ccc;
}

//////////////////////////////
// # title
//////////////////////////////
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: bold;
}

//////////////////////////////
// # list
//////////////////////////////
ul, ol {
  list-style-position: inside;
  margin-bottom: 2em;
}

ul ol, ul ul, ol ol, ol ul {
  margin-left: 2em;
}

ul ol,
ol ol {
  list-style-type: lower-roman;
}

li {
  margin-bottom: 0.25em;
}

dl {
  margin-bottom: 2em;
}

dt {
  margin-bottom: 0.25em;
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

//////////////////////////////
// # text
//////////////////////////////
p {
  margin-bottom: 2em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

sub, sup {
  position: relative;
  margin-right: 0.25em;
  margin-left: 0.25em;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: 0.875em;
}

mark {
  font-weight: normal;
  font-style: normal;
}

blockquote {
  margin-bottom: 2m;

  &:before { content: "\201C"; }
  &:after  { content: "\201D"; }
}

pre,
code {
  word-wrap: normal;
  white-space: pre-wrap;
}

//////////////////////////////
// # link
//////////////////////////////
a {
  border-bottom: 1px solid;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #999;
    border-bottom-color: #999;
  }
}

//////////////////////////////
// # media
//////////////////////////////
figure, picture, img {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

figcaption {
  margin-top: -0.25em;
  margin-right: 2m;
  font-size: 0.875em;
}

//////////////////////////////
// # table
//////////////////////////////
table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 2em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: left;
}

caption {
  margin-bottom: 0.5em;
  text-align: inherit;
  font-weight: bold;
}

th, td {  
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

//////////////////////////////
// # form
//////////////////////////////
form,
fieldset {
  margin-bottom: 2em;
}

legend {
  margin-bottom: 2em;
  font-weight: bold;
}

label {
  display: block;
}

textarea, select, input {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-family: inherit;
  line-height: 1.4;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="color"],
input[type="range"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  display: block;
  width: 100%;
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
}

$form_placeholder_prefixes: (
  '::-webkit-input-placeholder',
  ':-moz-placeholder',
  '::-moz-placeholder',
  ':-ms-input-placeholder',
  '::input-placeholder',
  '::placeholder' );
@each $prefix in $form_placeholder_prefixes {
  input[placeholder]#{$prefix},
  textarea[placeholder]#{$prefix} {
    color: #999;
  }
}

textarea {
  resize: vertical;
}

input {
  &[type="radio"],
  &[type="checkbox"] {
    display: inline-block;
    vertical-align: text-top;
    width: 1em;
    height: 1em;
    padding-top: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
    }

    &:checked {
      &::before {
        background: #000;
      }
    }
  }
}

input[type="radio"] {
  border-radius: 50%;

  &::before {
    border-radius: 50%;
  }
}