// # variables
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

$screen-sizes: (
  base: 0,
  s: 40em,
  m: 70em,
  l: 90em
);

$spacing-sizes: (
  base: 0,
  xs: 0.25em,
  s: 0.5em,
  m: 1em,
  l: 2em,
  xl: 4em,
  xxl: 8em,
  xxxl: 16em
);

$type-scale: (
  s: 0.875em,
  base: 1em,
  m: 1.25em,
  l: 1.5em,
  xl: 2.25em,
  xxl: 3em
);

//////////////////////////////
// # layout
//////////////////////////////

// ! redundant, swap out values in skeleton into flat values.
// we will be overriding with functional classes
$gutter: 1em;
$gutter--m: 1.5em;
$gutter--l: 2em;

//////////////////////////////
// # media size
//////////////////////////////

// ! redundant, encapsulate these within a 'wrap' generator
$max-width: 100em;

$screen--m: 40em;
$screen--l: 70em;
$screen--xl: calc(#{$max-width} + (#{gutter} * 4));

//////////////////////////////
// # typography
//////////////////////////////
$font-pri: helvetica, arial, sans-serif;

$font-size--s: 0.85em;
$font-size--m: 1.125em;
$font-size--l: 1.35em;
$font-size--xl: 1.55em;

$line-height: 1.4;

//////////////////////////////
// # color swatches
//////////////////////////////
$base: #111;
$neutral-1: #333;
$neutral-2: #777;
$neutral-3: #ddd;
$neutral-4: #eee;
$white: #fff;