// # wrapper
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

$wrap-config-RSON: make-RSON($wraps, '.wp', 'max-width');
$wrap-static-RSON: (
  (
    'selector': '.wp-right',
    'declarations': (
      margin-right: 0,
      margin-left: auto,
    ),
  ), (
    'selector': '.wp-left',
    'declarations': (
      margin-right: auto,
      margin-left: 0,
    ),
  ), (
    'selector': '.wp-center',
    'declarations': (
      margin-right: auto,
      margin-left: auto,
    ),
  ),
);
$full-wrap-RSON: concat-lists(
  $wrap-config-RSON,
  $wrap-static-RSON
);
@include make-responsive-rulesets($full-wrap-RSON);