// # form
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////
// # input
//////////////////////////////
.input {
  margin-bottom: $gutter * 2;

  &:last-child {
    margin-bottom: 0;
  }
}

//////////////////////////////
// # block label
//////////////////////////////
.blk-label {
  margin-bottom: 0.25em;
  font-weight: bold;
}

//////////////////////////////
// # select
//////////////////////////////
.select-shell {
  position: relative;

  &::after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0.5em;
    content: "";
    width: 0;
    height: 0;    
    border-top: 0.4em solid $base;
    border-right: 0.25em solid transparent;
    border-left: 0.25em solid transparent;
    transform: translate(0, -50%);
  }

  &:hover,
  &:focus {
    &::after {
      border-top-color: $neutral-2;
    }
  }
}

.select {
  position: relative;
  z-index: 2;
}

//////////////////////////////
// # option label
//////////////////////////////
.opt-label {
  display: inline-block;
  margin-left: 0.25em;
}