// # grid
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid--m {
  display: block;

  @include breakpoint($screen--m) {
    display: flex;
  }
}

.grid--l {
  display: block;

  @include breakpoint($screen--l) {
    display: flex;
  }
}

//////////////////////////////
// # column
//////////////////////////////
.col {
  order: 1;
  min-width: 0;
  padding-right: $gutter;
  padding-left: $gutter;

  @include breakpoint($screen--m) {
    padding-right: $gutter--m;
    padding-left: $gutter--m;
  }

  @include breakpoint($screen--l) {
    padding-right: $gutter--l;
    padding-left: $gutter--l;
  }
}

.col--no-pad {
  padding-left: 0;
  padding-right: 0;
}

//////////////////////////////
// # grid generator
//////////////////////////////
// *
// small screen (default)
$i: 1;
@while $i <= $col-count {
  $flex-basis: unquote((100 / ($col-count / $i)) + "%");
  .col--#{$i} {
    flex: 0 1 $flex-basis;
    max-width: $flex-basis; // hot fix: `flex-basis` doesn't account for `box-sizing: border-box`
  }
  .col--order-#{$i} {
    order: $i;
  }
  $i: $i + 1;
}

// *
// medium screen
@include breakpoint($screen--m) {
  $i: 1;
  @while $i <= $col-count {
    $flex-basis: unquote((100 / ($col-count / $i)) + "%");
    .col--m-#{$i} {
      flex: 0 1 $flex-basis;
      max-width: $flex-basis; // hot fix: see line 70
    }
    .col--order-m-#{$i} {
      order: $i;
    }
    $i: $i + 1;
  }
}

// *
// large screen
@include breakpoint($screen--l) {
  $i: 1;
  @while $i <= $col-count {
    $flex-basis: unquote((100 / ($col-count / $i)) + "%");
    .col--l-#{$i} {
      flex: 0 1 $flex-basis;
      max-width: $flex-basis; // hot fix: see line 70
    }
    .col--order-l-#{$i} {
      order: $i;
    }
    $i: $i + 1;
  }
}