// # title
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
.title {
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.title--xl {
  margin-bottom: 0.25em;
  font-size: $font-size--xl;
  line-height: 0.9;
  text-transform: uppercase;
}

.title--l {
  font-size: $font-size--l;
  line-height: 1.05;
}

.title--m {
  font-size: $font-size--m;
}

.title--s {
  font-size: $font-size--s;
  line-height: 1.15;
}