// # layout
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

$screen-sizes: (
  's': 40em,
  'm': 60em,
  'l': 80em,
  // ...
);

$wraps: (
  's': 40em,
  'm': 60em,
  'l': 80em,
  // ...
);

$grids: 12; // ... 

$spacings: (
  '0': 0,
  '1': 0.25em,
  '2': 0.5em,
  '3': 1em,
  '4': 2em,
  '5': 4em,
  '6': 8em,
  '7': 16em,
  // ...
);

$positionings: (
  'n2': -2em,
  'n1': -1em,
  '0': 0,
  '1': 1em,
  '2': 2em,
  // ...
);