// # typography
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

$base-font-size: 100%;

$font-families: (
  'helvetica': 'helvetica neue, helvetica, sans-serif',
  // ...
);

$type-scale: (
  '1': 3em,
  '2': 2.25em,
  '3': 1.5em,
  '4': 1.25em,
  '5': 1em,
  '6': 0.875em,
);

$line-heights: (
  'copy': 1.45,
  'title': 1.25,
  'solid': 1,
);

$trackings: (
  'track': 0.05em,
  'tight': -0.5em,
  'wide': 0.25em,
);