// # border style
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.bs-none',
    'declarations': (
      border-style: none,
    ),
  ), (
    'selector': '.bs-solid',
    'declarations': (
      border-style: solid,
    ),
  ), (
    'selector': '.bs-dot',
    'declarations': (
      border-style: dotted,
    ),
  ), (
    'selector': '.bs-dash',
    'declarations': (
      border-style: dashed,
    ),
  ),
));