// # border radius
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

$border-radius-config-RSON: make-RSON($border-radii, '.brd', 'border-radius');
$border-radius-static-RSON: (
  (
    'selector': '.brd-100',
    'declarations': (
      border-radius: 100%,
    ),
  ), (
    'selector': '.brd-pill',
    'declarations': (
      border-radius: 9999px
    ),
  ), (
    'selector': '.brd-top',
    'declarations': (
      border-bottom-left-radius: 0,
      border-bottom-right-radius: 0,
    ),
  ), (
    'selector': '.brd-right',
    'declarations': (
      border-top-left-radius: 0,
      border-bottom-left-radius: 0,
    ),
  ), (
    'selector': '.brd-bottom',
    'declarations': (
      border-top-left-radius: 0,
      border-top-right-radius: 0,
    ),
  ), (
    'selector': '.brd-left',
    'declarations': (
      border-top-right-radius: 0,
      border-bottom-right-radius: 0,
    ),
  ),
);
$full-border-radius-RSON: concat-lists(
  $border-radius-config-RSON,
  $border-radius-static-RSON
);
@include make-responsive-rulesets($full-border-radius-RSON);