// # fill
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

$fill-base-RSON: make-RSON($colors, '.fil', 'fill');
$fill-hover-RSON: make-RSON($colors, '.hov-fil', 'fill', ':hover');
$full-fill-RSON: concat-lists(
  $fill-base-RSON,
  $fill-hover-RSON
);
@include make-responsive-rulesets($full-fill-RSON);