// # form multiple-choice input
// (radio and check boxes)
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.multi-opt {
  // position: relative;
  // display: inline-block;
  // border: 1px all;
  // border-radius: 100%; // IF RADIO
  width: 1em;
  height: 1em;
  margin-top: -0.125em;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    display: block;
    width: 50%;
    height: 50%;
  }

  &:checked {
    &::before {
      background: map-get($neutral-colors, 'near-black');
    }
  }
}

.multi-opt--radio {
  &::before {
    border-radius: 100%;
  }
}