// # form select
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.select {
  position: relative;

  &::after {
    content: "\25bc";
    position: absolute;
    top: 50%;
    right: map-get($spacings, '3');
    transform: translate(0, -50%);
    font-size: 0.5em;
  }

  &:hover {
    &::after {
      color: map-get($neutral-colors, 'grey');
    }
  }
}