// # align content
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.ac-start',
    'declarations': (
      align-content: flex-start,
    ),
  ), (
    'selector': '.ac-end',
    'declarations': (
      align-content: flex-end,
    ),
  ), (
    'selector': '.ac-center',
    'declarations': (
      align-content: center,
    ),
  ), (
    'selector': '.ac-stretch',
    'declarations': (
      align-content: stretch,
    ),
  ), (
    'selector': '.ac-s-between',
    'declarations': (
      align-content: space-between,
    ),
  ), (
    'selector': '.ac-s-around',
    'declarations': (
      align-content: space-around,
    ),
  ),
));