// # justify content
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.jc-start',
    'declarations': (
      justify-content: flex-start,
    ),
  ), (
    'selector': '.jc-end',
    'declarations': (
      justify-content: flex-end,
    ),
  ), (
    'selector': '.jc-center',
    'declarations': (
      justify-content: center,
    ),
  ), (
    'selector': '.jc-s-between',
    'declarations': (
      justify-content: space-between,
    ),
  ), (
    'selector': '.jc-s-around',
    'declarations': (
      justify-content: space-around,
    ),
  ),
));