// # position
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

$position-top-RSON: make-RSON($positionings, '.top', 'top');
$position-right-RSON: make-RSON($positionings, '.right', 'right');
$position-bottom-RSON: make-RSON($positionings, '.bottom', 'bottom');
$position-left-RSON: make-RSON($positionings, '.left', 'left');
$position-static-RSON: (
  (
    'selector': '.pos-static',
    'declarations': (
      position: static,
    ),
  ), (
    'selector': '.pos-fixed',
    'declarations': (
      position: fixed,
    ),
  ), (
    'selector': '.pos-relative',
    'declarations': (
      position: relative,
    ),
  ), (
    'selector': '.pos-absolute',
    'declarations': (
      position: absolute,
    ),
  ),
);
$full-position-RSON: concat-lists(
  $position-top-RSON,
  $position-right-RSON,
  $position-bottom-RSON,
  $position-left-RSON,
  $position-static-RSON
);
@include make-responsive-rulesets($full-position-RSON);