// # position
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.pos-static',
    'declarations': (
      position: static,
    ),
  ), (
    'selector': '.pos-fixed',
    'declarations': (
      position: fixed,
    ),
  ), (
    'selector': '.pos-relative',
    'declarations': (
      position: relative,
    ),
  ), (
    'selector': '.pos-absolute',
    'declarations': (
      position: absolute,
    ),
  ),
), $screen-sizes);