// # visibility
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@include make-responsive-rulesets((
  (
    'selector': '.vis-visible',
    'declarations': (
      visibility: visible,
    ),
  ), (
    'selector': '.vis-hidden',
    'declarations': (
      visibility: hidden,
    ),
  ), (
    'selector': '.vis-collapse',
    'declarations': (
      visibility: collapse,
    ),
  ),
), $screen-sizes);