// # styleguide
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

.sg {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

//////////////////////////////
// # section
//////////////////////////////
.sg__section {
  margin-bottom: 8rem;
}

.sg__section-title {
  margin-bottom: 3rem;
  font-size: 2.25em;
}

//////////////////////////////
// # block
//////////////////////////////
.sg__block {
  margin-bottom: 5rem;
  padding: 2rem;
  border: 1px solid #999;
  @include border-radius(.25rem);
}

.sg__block-title {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
  font-size: 1.75em;
}

.sg__block-unit-title {
  margin: 2rem 0;
  padding-bottom: .5rem;
  border-bottom: 1px solid #999;
  font-size: 1.25em;
}

//////////////////////////////
// # swatch
//////////////////////////////
.sg__swatch {
  padding: 2rem !important;
}

//////////////////////////////
// # icon list
//////////////////////////////
.sg__icon-list {
  list-style: none;
  overflow: hidden;
}

.sg__icon-item {
  float: left;
  width: 10%;
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding: .5rem;
}

.sg__icon-label {
  margin-bottom: .5rem;
}

//////////////////////////////
// # code block
//////////////////////////////
.sg__code-block {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: #eee;
}

.sg__code-block-title {
  margin-bottom: .5rem;
  font-size: 1em;
}