// # variables
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////
// # typography
//////////////////////////////
// *
// primary typeface
$pri-font--reg: helvetica, arial, sans-serif;

//////////////////////////////
// # color swatches
//////////////////////////////
$base: #111;
$neutral-1: #333;
$neutral-2: #666;
$neutral-3: #999;
$neutral-4: #ccc;
$neutral-5: #eee;
$white: #fff;

//////////////////////////////
// # layout
//////////////////////////////
$col-count: 12;
$gutter: 1.5rem;

//////////////////////////////
// # media size
//////////////////////////////
$max-width: 100em;

$medium-screen: 40em;
$large-screen: 70em;
$huge-screen: calc(#{$max-width} + (#{gutter} * 4));